.navbar {
  background-color: rgba(252, 188, 71, 0.5);
  height: 60px;
  width: 100%;
}

.logo {
  float: left;
}

.logo img {
  width: 50px;
  height: 35px;
  margin: 0;
}

.nav .closebtn {
  display: none;
}

.nav ul {
  margin: 0;
  position: relative;
}

.nav ul .navLink {
  list-style: none;
  float: left;
  border: 1px solid transparent;
  background-color: #ec8f25;
  margin-right: 10px;
  padding: 5px;
  width: 115px;
  text-align: center;
  border-radius: 5px;
}

.nav ul .navLink a {
  color: #faf5ec;
}

.nav ul .navLink a:hover {
  text-decoration: none;
  color: #c9c5bf;
}

.nav .navDropdown {
  background-color: #ec8f25;
  display: none;
  min-width: 250px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.nav .navDropdown .dropdownLink {
  list-style: none;
  border-bottom: 1px solid #faf5ec;
}

.nav .navDropdown .dropdownLink a {
  color: #faf5ec;
}

.hamburger {
  display: none;
  background-color: #ec8f25;
  border: 0;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  width: 50px;
}

.hamburger span {
  font-size: x-large;
  color: #faf5ec;
  width: 50px;
  height: 35px;
  margin: 0;
}

#dropdown:hover .navDropdown {
  display: block;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    width: 100%;
  }
  .hamburger {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav.responsive {
    position: relative;
    display: block;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0;
  }
  .nav.responsive ul {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .nav.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 60px;
    max-width: 100%;
  }
  .nav.responsive .navLink {
    float: none;
    display: block;
    text-align: left;
    background-color: transparent;
  }
  .nav.responsive .navLink .navDropdown {
    float: none;
    text-align: left;
    background-color: transparent;
    padding: 10px;
    position: relative;
    margin: 0;
  }
  .nav.responsive .closebtn {
    position: absolute;
    display: block;
    top: 20px;
    right: 45px;
    font-size: 30px;
    text-decoration: none;
    color: #faf5ec;
  }
}

.headerContent .banner img {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.headerContent .threeColGrid {
  border: 1px solid #ec8f25;
  margin-top: 30px;
  display: inline-block;
}

.headerContent .threeColGrid .column1 {
  float: left;
}

.headerContent .threeColGrid .column2 {
  float: left;
  padding: 5px;
}

.headerContent .threeColGrid .column2 img {
  width: 100%;
  height: 240px;
}

.headerContent .threeColGrid .column3 {
  float: left;
  padding: 5px;
}

.headerContent .threeColGrid .column3 iframe {
  width: 100%;
  height: 240px;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: rgba(252, 188, 71, 0.5);
  margin-top: 30px;
}

.footer .footerContent {
  text-align: center;
  padding-top: 130px;
}

.footer .footerContent a {
  color: #ec8f25;
  font-size: xx-large;
}

.footer .footerContent .copyRight {
  color: #ec8f25;
  font-size: small;
}

.footer .footerContent .copyRight a {
  color: #ec8f25;
  font-size: small;
}
/*# sourceMappingURL=headerNav.css.map */